# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/

# Environnement
.env

# Base de données
*.db
coursify.db

# Fichiers uploadés
uploads/

# OS
.DS_Store

# Logs
*.log